body,html{
    padding: 0rem;
    margin: 0rem;
    height: 100%;
    width: 100%;
}

body{
    background-image: url(./background1.jpeg);
}
.main{
    width: 100%;
    height: 100%;
    box-shadow: 0rem 0rem 1rem lightblue;
    /* background-color: blue; */
    background-color: #ffffffe0;
}

.user-info{
    /* border-right: 1px solid; */
    border-right: 1px solid;
    padding: 0rem;
}

.dashboard{
    padding: 0rem;
}

.icon{
    width: 8rem;
    height: 8rem;
    margin: auto;
    margin-top: 4rem;
    background-image: url(./user.png);
    background-size: 100%;
}

.userinfo{
    text-align: center;
    font-size: 1.375rem;
    margin-top: 3rem; 
    padding: 0rem 1rem;
}

.profile{
    width: 100%;
    height: 30rem;
    margin: auto;
    margin-top: 3rem;
    border-top: 1px solid gray;
    padding-top: 2rem;
}

.profile-wrapper{
    width: 80%;
    margin: auto;
    height: 100%;
}

.profile-title{
    font-size: 1.25rem;
}

.profile-item{
    margin-top: 2rem;
}

.profile-item label{
    margin-bottom: 0.25rem;
    font-size: 1.12rem;
    font-weight: bold;
    padding-left: 0.25rem;
}

.profile-item input{
    border: 0rem;
    border-bottom: 2px solid;
    padding: 0rem 0.25rem;
    border-radius: 0rem;
}

.profile-submit{
    margin: auto;
    display: block;
    margin-top: 2.5rem;
    width: 100%;    
}

.dashboard-wrapper{
    /* border: 1px solid; */
    width: 95%;
    margin: auto;
    height: 92%;
    margin-top: 3%;
}

.search-bar{
    width: 100%;
    height: 10%;
    border-top: 1px solid;
}

.search-bar-wrapper{
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-item{

}

.search-item label{

}

.search-item input{

}

.search-submit{
    height: 2.5rem;
}

.section-table{
    width: 100%;
    height: 40%;
    overflow: auto;
    border-bottom: 4px double;
}

.section-table table,
.score-table table{
    text-align: center;
}

.score-table{
    width: 100%;
    height: 45%;
    overflow: auto;
    margin-top: 5%;
    border-bottom: 4px double;
    border-top: 1px solid;
}

.section-table .title,
.score-table .title,
.search-bar .title{
    font-size: 1.25rem;
    color: gray;
    text-align: center;
}