body,html{
    padding: 0rem;
    margin: 0rem;
    height: 100%;
    width: 100%;
}

body{
    background-image: url(./background1.jpeg);
}
.main{
    width: 100%;
    height: 100%;
    box-shadow: 0rem 0rem 1rem lightblue;
    /* background-color: blue; */
    background-color: #ffffffe0;
}

.user-info{
    /* border-right: 1px solid; */
    border-right: 1px solid;
    padding: 0rem;
}

.dashboard{
    padding: 0rem;
}

.icon{
    width: 8rem;
    height: 8rem;
    margin: auto;
    margin-top: 4rem;
    background-image: url(./user.png);
    background-size: 100%;
}

.userinfo{
    text-align: center;
    font-size: 1.375rem;
    margin-top: 3rem; 
    padding: 0rem 1rem;
}

.profile{
    width: 100%;
    height: 30rem;
    margin: auto;
    margin-top: 3rem;
    border-top: 1px solid gray;
    padding-top: 2rem;
}

.profile-wrapper{
    width: 80%;
    margin: auto;
    height: 100%;
}

.profile-title{
    font-size: 1.25rem;
}

.profile-item{
    margin-top: 2rem;
}

.profile-item label{
    margin-bottom: 0.25rem;
    font-size: 1.12rem;
    font-weight: bold;
    padding-left: 0.25rem;
}

.profile-item input{
    border: 0rem;
    border-bottom: 2px solid;
    padding: 0rem 0.25rem;
    border-radius: 0rem;
}

.profile-submit{
    margin: auto;
    display: block;
    margin-top: 2.5rem;
    width: 100%;    
}

.dashboard-wrapper{
    /* border: 1px solid; */
    width: 95%;
    margin: auto;
    height: 92%;
    margin-top: 3%;
}

.search-bar{
    width: 100%;
    height: 10%;
    border-top: 1px solid;
}

.search-bar-wrapper{
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-item{

}

.search-item label{

}

.search-item input{

}

.search-submit{
    height: 2.5rem;
}

.section-table{
    width: 100%;
    height: 40%;
    overflow: auto;
    border-bottom: 4px double;
}

.section-table table,
.score-table table{
    text-align: center;
}

.score-table{
    width: 100%;
    height: 45%;
    overflow: auto;
    margin-top: 5%;
    border-bottom: 4px double;
    border-top: 1px solid;
}

.section-table .title,
.score-table .title,
.search-bar .title{
    font-size: 1.25rem;
    color: gray;
    text-align: center;
}

.shadow{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0rem;
    left: 0rem;
    background: #9aa2bfb0;
}

.schedule{
    position: absolute;
    height: 60rem;
    width: 70rem;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cross{
    position: absolute;
    top: 0rem;
    right: 0rem;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    /* background: red; */
    font-weight: bold;
    cursor: pointer;
    transition: all .2s;
}

.cross:hover{
    background-color: rgb(255, 89, 89);
    color: white;
}

.schedule-title{
    border: 1px solid;
    position: absolute;
    width: 90%;
    height: 5rem;
    top: 1rem;
    left: 5%;
}

.schedule-table{
    position: absolute;
    border: 1px solid;
    height: 42rem;
    width: 90%;
    top: 7rem;
    left: 5%;
    display: flex;
}

.schedule-panel{
    position: absolute;
    border: 1px solid;
    height: 8rem;
    width: 90%;
    top: 50rem;
    left: 5%;
}

.schetab-col{
    border-right: 1px solid;
    height: 100%;
    width: 12.5%;
    display: flex;
    flex-direction: column;
}
.schetab-row{
    width: 100%;
    height: 8.5%;
    border-bottom: 1px solid;
}

.schetab-row:hover{
    background-color: yellow;
}

.schetab-row-head{
    background-color: lightgray;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.125rem;
    font-weight: bold;
}

.schetab-row-blank{
    /* background-color: lightgray; */
}

.schetab-row-inuse{
    background-color: green;
}

.schetab-row-multi{
    background-color: red;
}

.schetab-row-available{
    background-color: blue;
}

.schetab-row-unavailable{
    background-color: orange;
}